@model LoomSoft.Panel.CQRS.Queries.Responses.LeaveGetByIdQueryResponse
@{
    ViewData["Title"] = "LeaveDetail";
}

@section Styles{
	<!-- Form step -->
	<link href="~/vendor/jquery-smartwizard/dist/css/smart_wizard.min.css" rel="stylesheet">
@*    <link href="~/css/timeline.css" rel="stylesheet">*@

    <style>
        .fade{
            display: none;
        }
        .show{
            display: block;
        }

        .card-body .nav-tabs {
            position: relative;
            padding: 10px 0px;
            overflow: hidden;
        }

        .card-body .nav-tabs li {
            z-index: 1;
        }

        .card-body .nav-link {
            display: inline;
            text-align: center;
            border: 1px solid #F93A0B !important;
            background-color: #F6F6F6 !important;
            transition: color .4s ease;
        }

        .card-body .nav-link span{
            color: #F93A0B;
        }

        .card-body .nav-link:hover {
            background-color: #F93A0B !important;
        }

        .card-body .nav-link:hover span {
            color: #fff;
        }

        .card-body .nav-link.myactive {
            background-color: #F93A0B !important;
        }

        .card-body .nav-link.myactive span {
            color: #fff;
        }

        .card-body .nav-tabs::before {
            content: "";
            background-color: #e0e0e0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 100%;
            z-index: 0;
        }

        .card-body .myprogress {
            background-color: #F93A0B;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 4px;
            width: 0%;
            z-index: 1;
            transition: .4s ease;
        }
    </style>
}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-xxl-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">İzin Detayları</h4>
					</div>
					<div class="card-body">
                            <ul class="nav nav-tabs progressBar mb-5 border-0" id="myTab" role="tablist">
                                <li class="myprogress" id="myprogress"></li>
							    @{int i = 0;}
								@foreach (var leaveStep in Model.LeaveData.LeaveSteps as List<LeaveStep>)
								{
								    i++;
								    <li class="nav-item col d-flex justify-content-center">
                                        <a class="nav-link rounded-circle @(i == 1 ? "active" : "")" data-bs-toggle="tab" href="#wizard_@leaveStep.Id">
                                            <span>@i</span>
										</a>
									</li>
								}
							</ul>

							<div class="row">
							    <div class="col-xl-6">
								    <div class="mb-3 row">
									    <label class="col-lg-4 col-form-label" for="kullaniciAdi">
										    Kullanıcı Adı
										    <span class="text-danger">*</span>
									    </label>
									    <div class="col-lg-8">
										    <input type="text" readonly id="kullaniciAdi" class="form-control-plaintext" value="@Model.LeaveData.UserName">
									    </div>
								    </div>
							    </div>
							    <div class="col-xl-6">
                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="izinNedeni">
                                            İzin Nedeni
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-8">
                                            <input type="text" readonly id="izinNedeni" class="form-control-plaintext" value="@Model.LeaveData.LeaveType">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="izinSebebi">
                                            İzin Sebebi
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-8">
                                            <input type="text" readonly id="izinSebebi" class="form-control-plaintext" value="@Model.LeaveData.Reason">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label" for="izinTipi">
                                            İzin Tipi
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-8">
                                            <input type="text" readonly id="izinTipi" class="form-control-plaintext" value="@Model.LeaveData.TimeType">
                                        </div>
                                    </div>
								    <div class="mb-3 row">
									    <label class="col-lg-4 col-form-label" for="izinAciklamasi">
										    İzin Açıklaması
										    <span class="text-danger">*</span>
									    </label>
									    <div class="col-lg-8">
										    <input type="text" readonly id="izinAciklamasi" class="form-control-plaintext" value="@Model.LeaveData.Reason">
									    </div>
								    </div>
							    </div>
						    </div>

                            <hr/>

                            <div class="tab-content h-50" id="myTabContent">
								@{int i2 = 0;}
                                @foreach (var leaveStep in Model.LeaveData.LeaveSteps as List<LeaveStep>)
                                {
                                    i2++;
                                    <div class="tab-pane @(i2 == 1 ? "fade show active" : "fade")" id="wizard_@leaveStep.Id" role="tabpanel">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="onaylayan">
                                                        Onaylayan
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-8">
                                                    <input type="text" readonly id="onaylayan" class="form-control-plaintext" value="@leaveStep.ApproverName" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="onayDurumu@(i2)">
                                                        Onay Durumu
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <input type="text" readonly id="onayDurumu@(i2)" class="form-control-plaintext" value="@(leaveStep.Situation == 0 ? "Bekliyor" : (leaveStep.Result == 0 ? "Reddedildi" : "Onaylandı"))" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="mb-3 row">
                                                    <label class="col-lg-4 col-form-label" for="onayAciklamasi@(i2)">
                                                        Onay Açıklaması
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-8">
                                                        <textarea type="text" id="onayAciklamasi@(i2)" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    @if (leaveStep.ApproverId == (Guid)ViewBag.UserId)
                                        {
                                            <div class="d-flex justify-content-center mt-5">
                                                <button type="button" class="btn btn-success me-3">
                                                    Onayla <span class="btn-icon-end"><i class="fa fa-check"></i></span>
                                                </button>
                                                <button type="button" class="btn btn-danger">
                                                    Reddet <span class="btn-icon-end">
                                                        <i class="fas fa-times"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        }
                                </div>
								}
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>


@section Scripts {

    <script src="~/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="~/js/plugins-init/jquery.validate-init.js"></script>


	<!-- Form Steps -->
	<script src="~/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js"></script>
	<script src="~/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
@*    <script src="~/js/timeline.js"></script>*@


    <script>
        const circles = document.querySelectorAll('.progressBar .nav-item a');
        const progress = document.getElementById('myprogress');
        var startLineValue = (100 / circles.length) / 2;
        progress.style.width = startLineValue + "%";

        let currentActive = 1;

        circles.forEach((circle, idx) => {
            circle.addEventListener("click", () => {
                currentActive = idx;
                isActive();
            })
        })

       function isActive(){
            circles.forEach((circle, idx) => {
                console.log(idx, currentActive);
                if (idx <= currentActive) {
                    circle.classList.add('myactive')
                } else {
                    circle.classList.remove('myactive')
                }
            })
            const actives = document.querySelectorAll('.progressBar .myactive')
            if (actives.length == circles.length)
                 startLineValue = 0;
            else{
                var startLineValue = (100 / circles.length) / 2;
            }
            progress.style.width = ((actives.length) / (circles.length) * 100) - startLineValue  + "%";
       }

    </script>

	<script>
		$(document).ready(function(){
			// SmartWizard initialize
			$('#smartwizard').smartWizard(); 
		});
/*
        $(document).ready(function () {
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var target = $(e.target);

                if (target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                active.next().removeClass('disabled');
                nextTab(active);

            });
            $(".prev-step").click(function (e) {

                var active = $('.wizard .nav-tabs li.active');
                prevTab(active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }


        $('.nav-tabs').on('click', 'li', function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).addClass('active');
        });
*/
	</script>

}