@{
    ViewData["Title"] = "Kullanıcı Şirketleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Company> Companies = new List<Company>();
    Companies = ViewBag.Companies;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="mb-4">
                        <h4 class="card-title">Kullanıcı</h4>
                    </div>
                    <form>
                        <div class="d-flex align-items-center gap-3">
                            <select id="single-select">
                                <option selected="selected">Lütfen Kullanıcı Seçin..</option>

                                @foreach (var user in ViewBag.Users)
                                {
                                    <option value="@user.Id">@(user.Name + " " + user.Surname)</option>
                                }
                            </select>
                            <button id="SorgulaBtn" class="btn btn-primary btn-sm w-25">Sorgula</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Kullanıcı Şirketleri</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        @foreach (var company in ViewBag.Companies)
                        {
                            <div class="col-xl-3 col-lg-4 col-md-6">
                                <div class="form-check custom-checkbox mb-3 checkbox-warning">
                                    <input type="checkbox" onclick="changeCompanyStatus(this)" class="form-check-input" id="@company.Id">
                                    <label class="form-check-label" name="companyName" for="@company.Id">@company.Name</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#SorgulaBtn").click(function (event) {
            event.preventDefault();
            //$(".form-check-input")[0].checked = false;
            const checkboxs = document.querySelectorAll(".form-check-input");
            checkboxs.forEach(checkbox => {
                console.log(checkbox, "ffff");
                checkbox.checked = false;
            });
            var userId = $('#single-select').val();
            $.ajax({
                url: '/User/UserCompaniesByUserId?userId=' + userId,
                type: 'POST',
                dataType: 'json',

                success: function (result) {
                    if (result.isSuccess && result.data.userCompanies.length > 0) {
                        console.log("evt")
                        result.data.userCompanies.forEach(userCompany => {
                            $("#" + userCompany.companyId)[0].checked = true;
                        })
                    }
                }
            });
        });
    </script>

    <script>
        function changeCompanyStatus(that) {
            var userName = $('#single-select option:selected').text();

            if (userName != "Lütfen Kullanıcı Seçin..") {
                var companyName = $(that).next().text();
                var modelContent;
                $(that).is(':checked') == true ?
                    modelContent = userName + " kullanıcısına " + companyName + " şirket yetkisi vermek istediğinize emin misiniz?"
                    : modelContent = userName + " kullanıcısından " + companyName + " şirket yetkisini kaldırmak istediğinize emin misiniz?";
                var addUserCompany = {
                    'name': userName+"-"+companyName,
                    'userId': $('#single-select').val(),
                    'userName': userName,
                    'companyId': $(that).attr("id"),
                    'companyName': companyName,
                    'createdUserId': $('#single-select').val()
                };
                var deleteUserCompany = {
                    'userId': $('#single-select').val(),
                    'companyId': $(that).attr("id"),
                    'updatedUserId': $('#single-select').val()
                };
                $(that).is(':checked') == true ? isActiveMethod(that, modelContent, addUserCompany, "/User/AddUserCompany")
                    : isActiveMethod(that, modelContent, deleteUserCompany, "/User/DeleteUserCompany")
            }
            else {
                var modelContent = "Lütfen kullanıcı seçip ardından sorgula butonuna basınız.";
                openModal("Transaaaction", modelContent);

            }
        }

    </script>
}